@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/Inter/inter-v20-latin_latin-ext-regular.woff2') format('woff2'),
        url('assets/fonts/Inter/inter-v20-latin_latin-ext-regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('assets/fonts/Inter/inter-v20-latin_latin-ext-500.woff2') format('woff2'),
        url('assets/fonts/Inter/inter-v20-latin_latin-ext-500.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('assets/fonts/Inter/inter-v20-latin_latin-ext-700.woff2') format('woff2'),
        url('assets/fonts/Inter/inter-v20-latin_latin-ext-700.woff') format('woff');
}

@font-face {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('assets/fonts/ClashGrotesk/ClashGrotesk-Medium.woff2') format('woff2'),
        url('assets/fonts/ClashGrotesk/ClashGrotesk-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('assets/fonts/ClashGrotesk/ClashGrotesk-Semibold.woff2') format('woff2'),
        url('assets/fonts/ClashGrotesk/ClashGrotesk-Semibold.woff') format('woff');
}